body {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
}

input.form-control {
    background-color: #222 !important;
    color: #fff !important;
    border: 1px solid #444;
}

input.form-control::placeholder {
    color: #bbb;
}
